<div class="d-flex justify-content-center align-items-center vh-100">
  <div style="width: 320px;" class="text-center">
    
    
    <img src="assets/tm.png" alt="Task Reminder Logo" style="width: 150px; height: 150px;" class="mx-auto d-block mb-4 mt-3">

    
    <h1 class="mb-2">Welcome to Easy Task</h1>
    <p class="mb-4">Please Enter the Username/Email to reset the password </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

     
     <mat-form-field appearance="outline" class="w-100 mb-3">
       <mat-label>Email/Username</mat-label>
       <input matInput formControlName="email">
     </mat-form-field>
     <div class="d-flex align-items-center justify-content-center mb-2" *ngIf="isSubmissionInProgess">
        <mat-spinner [diameter]="22" class="me-2"></mat-spinner>
        <span>Signing in...</span>
      </div>

      <div class="alert alert-danger p-2"*ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="alert alert-success p-2"*ngIf="isPasswordResetEmailSent">
        The reset password link is sent to your email please check it to reset the password.
      </div>


  
     <button mat-raised-button class="w-100 mb-3 auth-button">
      Reset Password
     </button>
   </form>
    

    
    <p class="mb-1">You don't have an account?</p>
    <button mat-raised-button  [routerLink]="['/auth/sign-up']" class="w-100 auth-button">
      Sign-In
    </button>
  </div>
</div>